@model KappaPortal.Models.ViewModels.UserPostVM

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>In this project, we create a blog application using MVC. The website allows a 
user to create a blog, update the blog by adding posts or browse blogs made by other 
users.<br />
<b>ApplicationDbUser</b> will exist from the start with a set of columns and some 
additional tables with <b>ASP identity</b> will be created as well.

<h3>What can you do in this blog!</h3>
In order to interact with the contents of this blog, you need to be <b>registered</b>!<br />
When you are registered then you could <b>create</b> a blog, <b>comment</b> and <b>like</b> or <b>dislike</b> others' blogs or posts.<br />
You do not need to be registered to only look at the blogs, posts and comments created by other users.
<br />

    <br />
    <h4>Disclaimer</h4>
    This is a public blog platform.<br>
    <b>All opinions are solely belong to the bloggers themselves and don't represent the Team Kappa.</b><br />

    However we advice you to comply with legal and ethical responsibilities! 
    <br /><br />

    <h4>Team Kappa</h4>

    <h5><a href="https://www.linkedin.com/in/aziz-mannanov-a6947723a">Aziz Mannanov</a></h5>    
    <h5><a href="https://www.linkedin.com/in/emil-lindmark-02827170">Emil Lindmark</a></h5>        
    <h5><a href="https://100wardeh.com/media/catalog/product/cache/1/image/988x988/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0935_x700.png">Ragnar Freudenthal</a></h5>
    <h5><a href="https://www.linkedin.com/in/raid-mahbouba-32812a4b">Raid Mahbouba</a></h5>
    <br />

</p>
