@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container-fluid p-0">
    <div class="row my-3 mx-5 mt-5">
        <div class="col text-center d-none d-md-block pt-5">
            <img src="/img/kappa_logo.svg" style="width: 200px;">
            <h1 class="text-primary" style="font-size: 4rem;">Kappa</h1>
        </div>
        <div class="col-12 col-md-7 col-xl-5 pt-5">
            <div class="card" style="max-width: 30rem;">
                <div class="card-body">
                    <h1>Reset your password</h1>
                    <p>Send code via email</p>

                    <hr>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input class="form-control my-3 shadow-sm" asp-for="Input.Email" placeholder="E-mail" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                        <button class="btn btn-primary col-12 fs-5 fw-bold" type="submit">Continue</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
*@
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
