@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container-fluid p-0">
    <div class="row my-3 mx-5 mt-5">
        <div class="col text-center d-none d-md-block pt-5">
            <img src="/img/kappa_logo.svg" style="width: 200px;">
            <h1 class="text-primary" style="font-size: 4rem;">Kappa</h1>
        </div>
        <div class="col-12 col-md-7 col-xl-5  pt-5">
            <div class="card" style="max-width: 30rem;">
                <div class="card-body">
                    <h1>@ViewData["Title"]</h1>
                    <hr>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

